Dashboard.json
[
    {
        "id": "8cad7136d1faee62",
        "type": "tab",
        "label": "DashboardWJSON",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "52cf9d05ce07d455",
        "type": "mqtt in",
        "z": "8cad7136d1faee62",
        "name": "Ecosistema Desertico",
        "topic": "room/desertico",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "274b712b938983cb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "bee973202def9dc7"
            ]
        ]
    },
    {
        "id": "50c211dfc8b90f67",
        "type": "function",
        "z": "8cad7136d1faee62",
        "name": "Mandar a Base de Datos - Desertico",
        "func": "msg.topic = \"INSERT INTO sensores(temperatura, humedad, humedadTierra, dia) \" +\n  \"VALUES ('\" + msg.payload.Temperatura + \"', '\" + msg.payload.Humedad + \"', '\" +\n  msg.payload.HumedadTierra + \"', '\" + msg.payload.Dia + \"');\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "61a674b61394db22"
            ]
        ]
    },
    {
        "id": "bee973202def9dc7",
        "type": "json",
        "z": "8cad7136d1faee62",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "50c211dfc8b90f67",
                "0623a7ef8919b60e",
                "bd4a56d468c23c34",
                "c3c1b6d9eb200ce7",
                "7b279bb2a08ea62e"
            ]
        ]
    },
    {
        "id": "50f5b69d5326df46",
        "type": "debug",
        "z": "8cad7136d1faee62",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 60,
        "wires": []
    },
    {
        "id": "e0fc686ec860e242",
        "type": "mqtt in",
        "z": "8cad7136d1faee62",
        "name": "Ecosistema Habitacional",
        "topic": "room/habitacional",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "274b712b938983cb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "9e1b8a42e0e483a0"
            ]
        ]
    },
    {
        "id": "34051827e5f36316",
        "type": "function",
        "z": "8cad7136d1faee62",
        "name": "Mandar a Base de Datos - Habitacional ",
        "func": "msg.topic = \"INSERT INTO sensores(temperatura, humedad, humedadTierra, dia) \" +\n  \"VALUES ('\" + msg.payload.Temperatura + \"', '\" + msg.payload.Humedad + \"', '\" +\n  msg.payload.HumedadTierra + \"', '\" + msg.payload.Dia + \"');\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "492a94f94ccdbdf0"
            ]
        ]
    },
    {
        "id": "038c71b0bdaf6d58",
        "type": "debug",
        "z": "8cad7136d1faee62",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "e51db123853b3b53",
        "type": "mqtt in",
        "z": "8cad7136d1faee62",
        "name": "Ecosistema Cultivo",
        "topic": "room/cultivo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "274b712b938983cb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 900,
        "wires": [
            [
                "0a13e785a6477ed6"
            ]
        ]
    },
    {
        "id": "bab621c5f94f2ca6",
        "type": "function",
        "z": "8cad7136d1faee62",
        "name": "Mandar a Base de Datos - Cultivo",
        "func": "msg.topic = \"INSERT INTO sensores(temperatura, humedad, humedadTierra, dia) \" +\n  \"VALUES ('\" + msg.payload.Temperatura + \"', '\" + msg.payload.Humedad + \"', '\" +\n  msg.payload.HumedadTierra + \"', '\" + msg.payload.Dia + \"');\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 900,
        "wires": [
            [
                "7e60bd924c653ae9"
            ]
        ]
    },
    {
        "id": "0a13e785a6477ed6",
        "type": "json",
        "z": "8cad7136d1faee62",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 900,
        "wires": [
            [
                "bab621c5f94f2ca6",
                "de7caa568a462607",
                "ddbbe5774d81ac0e",
                "eb2f2bd6bb239c93",
                "fe8d0861b14295c5"
            ]
        ]
    },
    {
        "id": "de653a81af7d0152",
        "type": "debug",
        "z": "8cad7136d1faee62",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 840,
        "wires": []
    },
    {
        "id": "9e1b8a42e0e483a0",
        "type": "json",
        "z": "8cad7136d1faee62",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "4c342ad13057d1c2",
                "6d590141094c8948",
                "d4900b19f85760e3",
                "47ec2286620e65af",
                "34051827e5f36316"
            ]
        ]
    },
    {
        "id": "61a674b61394db22",
        "type": "mysql",
        "z": "8cad7136d1faee62",
        "mydb": "66d61864ba15f097",
        "name": "DB-Desertico",
        "x": 950,
        "y": 180,
        "wires": [
            [
                "50f5b69d5326df46",
                "0f0969a7701798d7"
            ]
        ]
    },
    {
        "id": "492a94f94ccdbdf0",
        "type": "mysql",
        "z": "8cad7136d1faee62",
        "mydb": "065f4ea835f587e1",
        "name": "DB-Habitacional",
        "x": 920,
        "y": 540,
        "wires": [
            [
                "038c71b0bdaf6d58",
                "0af696027f1bf107"
            ]
        ]
    },
    {
        "id": "7e60bd924c653ae9",
        "type": "mysql",
        "z": "8cad7136d1faee62",
        "mydb": "4ff82e02728915f1",
        "name": "DB-Cultivo",
        "x": 850,
        "y": 900,
        "wires": [
            [
                "de653a81af7d0152",
                "a74dc3d71d4564a6"
            ]
        ]
    },
    {
        "id": "7b279bb2a08ea62e",
        "type": "ui_text",
        "z": "8cad7136d1faee62",
        "group": "5acf24717bc28b1e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Dia",
        "label": "Día",
        "format": "{{msg.payload.Dia}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "47ec2286620e65af",
        "type": "ui_text",
        "z": "8cad7136d1faee62",
        "group": "ab83424e67e689b1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Dia",
        "label": "Día",
        "format": "{{msg.payload.Dia}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 820,
        "wires": []
    },
    {
        "id": "fe8d0861b14295c5",
        "type": "ui_text",
        "z": "8cad7136d1faee62",
        "group": "0c9239e3ca8fec5c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Dia",
        "label": "Día",
        "format": "{{msg.payload.Dia}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 1180,
        "wires": []
    },
    {
        "id": "bd4a56d468c23c34",
        "type": "ui_gauge",
        "z": "8cad7136d1faee62",
        "name": "Humedad",
        "group": "5acf24717bc28b1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{msg.payload.Humedad}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "c3c1b6d9eb200ce7",
        "type": "ui_gauge",
        "z": "8cad7136d1faee62",
        "name": "Humedad De La Tierra",
        "group": "5acf24717bc28b1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad De La Tierra",
        "label": "%",
        "format": "{{msg.payload.HumedadTierra}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "0623a7ef8919b60e",
        "type": "ui_gauge",
        "z": "8cad7136d1faee62",
        "name": "",
        "group": "5acf24717bc28b1e",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{msg.payload.Temperatura}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "6d590141094c8948",
        "type": "ui_gauge",
        "z": "8cad7136d1faee62",
        "name": "Humedad",
        "group": "ab83424e67e689b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{msg.payload.Humedad}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 700,
        "wires": []
    },
    {
        "id": "d4900b19f85760e3",
        "type": "ui_gauge",
        "z": "8cad7136d1faee62",
        "name": "Humedad De La Tierra",
        "group": "ab83424e67e689b1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad De La Tierra",
        "label": "%",
        "format": "{{msg.payload.HumedadTierra}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 760,
        "wires": []
    },
    {
        "id": "4c342ad13057d1c2",
        "type": "ui_gauge",
        "z": "8cad7136d1faee62",
        "name": "",
        "group": "ab83424e67e689b1",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{msg.payload.Temperatura}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 640,
        "wires": []
    },
    {
        "id": "ddbbe5774d81ac0e",
        "type": "ui_gauge",
        "z": "8cad7136d1faee62",
        "name": "Humedad",
        "group": "0c9239e3ca8fec5c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{msg.payload.Humedad}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 1060,
        "wires": []
    },
    {
        "id": "eb2f2bd6bb239c93",
        "type": "ui_gauge",
        "z": "8cad7136d1faee62",
        "name": "Humedad De La Tierra",
        "group": "0c9239e3ca8fec5c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad De La Tierra",
        "label": "%",
        "format": "{{msg.payload.HumedadTierra}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 1120,
        "wires": []
    },
    {
        "id": "de7caa568a462607",
        "type": "ui_gauge",
        "z": "8cad7136d1faee62",
        "name": "",
        "group": "0c9239e3ca8fec5c",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{msg.payload.Temperatura}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 1000,
        "wires": []
    },
    {
        "id": "f46fc23fe6dec9d0",
        "type": "ui_template",
        "z": "8cad7136d1faee62",
        "group": "5acf24717bc28b1e",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n/* Base styling for ui-card-panel */\nui-card-panel {\nbox-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;\nbackground-color: black;\nfont-weight: bold;\n}\n\n/* Round corners for all children elements of ui-card-panel */\nui-card-panel * {\nborder-radius: 10px; /* Adjust the value to control the roundness of the corners */\ncolor: black; \nfont-weight: bold;\n}\n\n/* Styling for the body */\nbody {\nbackground: transparent !important;\nbackground: -webkit-linear-gradient(55deg, #009785 0%, #245aa5 100%) !important;\n-webkit-touch-callout: none !important;\ncolor: white !important;\npadding-top: 5px !important;\n}\n\n/* Styling for ui-card-panel */\nui-card-panel {\nbackground-color: rgba(250, 250, 250, 0.7) !important;\nborder: none !important;\nborder-radius: 10px !important;\n}\n\nui-card-panel:hover { \n    background-color: rgba(250, 250, 250, 1) !important;\n    transition: 0.3s ease-in-out !important;\n}\n\n\n\n/* Styling for md-card within ui-card-panel */\nui-card-panel > div.nr-dashboard-cardpanel > div > md-card {\nbackground: none !important;\n}\n\n/* Styling for buttons within ui-card-panel */\nui-card-panel > div.nr-dashboard-cardpanel button {\n/* background: none !important; Uncomment if needed */\n}\n\n/* Styling for md-toolbar */\nmd-toolbar {\nbackground: none !important;\n}\n\n/* Styling for md-sidenav */\nmd-sidenav {\nbackground: linear-gradient(120deg, rgba(40, 42, 49, 0.90) 20%, rgba(47, 49, 56, 0.90) 80%) !important;\n}\n\n/* Styling for md-card with class nr-dashboard-button */\nmd-card.nr-dashboard-button * {\nbox-shadow: none !important;\n}\n\n/* Styling for md-card with class nr-dashboard-template */\nmd-card.nr-dashboard-template * {\nbackground: none !important;\n}\n\n#nr-dashboard-cardtitle { \n    color: black !important;\n}\n\n.nr-dashboard-cardtitle { \n    color: black !important; \n    font-weight: bold !important;\n    font-size: 3vh !important; \n}\n\np { \n    color: black !important;\n}\n\n.nr-dashboard-cardtitle { \n    font-size: 1.5em !important; \n    text-align: center;\n}\n    </style>\n    <title> Francismo </title>\n<script> \nlet label = document.getElementsByClassName(\"label\");\n    labelElement.textContent = \":D\"; // or labelElement.textContent = \"D:\";\n</script> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 280,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0f0969a7701798d7",
        "type": "function",
        "z": "8cad7136d1faee62",
        "name": "Get",
        "func": "msg.topic = \"SELECT * FROM Sensores ORDER BY fecha ASC;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 180,
        "wires": [
            [
                "c30ff96fcb9db4a3"
            ]
        ]
    },
    {
        "id": "5ab9509391d1b111",
        "type": "ui_chart",
        "z": "8cad7136d1faee62",
        "name": "",
        "group": "5acf24717bc28b1e",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1780,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c30ff96fcb9db4a3",
        "type": "json",
        "z": "8cad7136d1faee62",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1290,
        "y": 180,
        "wires": [
            [
                "a1a39257ff7678f3"
            ]
        ]
    },
    {
        "id": "a1a39257ff7678f3",
        "type": "mysql",
        "z": "8cad7136d1faee62",
        "mydb": "66d61864ba15f097",
        "name": "DB-Desertico",
        "x": 1450,
        "y": 180,
        "wires": [
            [
                "c5df86c5088c0929"
            ]
        ]
    },
    {
        "id": "c5df86c5088c0929",
        "type": "function",
        "z": "8cad7136d1faee62",
        "name": "Extraer msg",
        "func": "var dataTemperatura = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.temperatura };\n});\n\nvar dataHumedad = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.humedad };\n});\n\nvar dataHumedadTierra = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.humedadTierra };\n});\n\nvar dataDia = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.dia };\n});\n\nvar dataConsumoAgua = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.consumoAgua };\n});\n\nmsg.payload = [\n    {\n        \"series\": [\"Temperatura\", \"Humedad\", \"Humedad Tierra\", \"Día\", \"Consumo Agua\"],\n        \"data\": [dataTemperatura, dataHumedad, dataHumedadTierra, dataDia, dataConsumoAgua],\n        \"labels\": [\"\", \"\", \"\", \"\", \"\"]\n    }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 180,
        "wires": [
            [
                "5ab9509391d1b111"
            ]
        ]
    },
    {
        "id": "c8772d5c402f77fc",
        "type": "inject",
        "z": "8cad7136d1faee62",
        "name": "Get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM Sensores ORDER BY fecha ASC;",
        "payload": "",
        "payloadType": "date",
        "x": 1110,
        "y": 60,
        "wires": [
            [
                "c30ff96fcb9db4a3"
            ]
        ]
    },
    {
        "id": "0af696027f1bf107",
        "type": "function",
        "z": "8cad7136d1faee62",
        "name": "Get",
        "func": "msg.topic = \"SELECT * FROM Sensores ORDER BY fecha ASC;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "bce9777edf343f5e"
            ]
        ]
    },
    {
        "id": "bce9777edf343f5e",
        "type": "json",
        "z": "8cad7136d1faee62",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1250,
        "y": 540,
        "wires": [
            [
                "6cb368dce254600e"
            ]
        ]
    },
    {
        "id": "6cb368dce254600e",
        "type": "mysql",
        "z": "8cad7136d1faee62",
        "mydb": "065f4ea835f587e1",
        "name": "DB-Habitacional",
        "x": 1420,
        "y": 540,
        "wires": [
            [
                "e0ada026709f2081"
            ]
        ]
    },
    {
        "id": "e0ada026709f2081",
        "type": "function",
        "z": "8cad7136d1faee62",
        "name": "Extraer msg",
        "func": "var dataTemperatura = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.temperatura };\n});\n\nvar dataHumedad = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.humedad };\n});\n\nvar dataHumedadTierra = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.humedadTierra };\n});\n\nvar dataDia = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.dia };\n});\n\nvar dataConsumoAgua = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.consumoAgua };\n});\n\nmsg.payload = [\n    {\n        \"series\": [\"Temperatura\", \"Humedad\", \"Humedad Tierra\", \"Día\", \"Consumo Agua\"],\n        \"data\": [dataTemperatura, dataHumedad, dataHumedadTierra, dataDia, dataConsumoAgua],\n        \"labels\": [\"\", \"\", \"\", \"\", \"\"]\n    }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 540,
        "wires": [
            [
                "f594fae9af634ad5"
            ]
        ]
    },
    {
        "id": "f594fae9af634ad5",
        "type": "ui_chart",
        "z": "8cad7136d1faee62",
        "name": "",
        "group": "ab83424e67e689b1",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1760,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "a74dc3d71d4564a6",
        "type": "function",
        "z": "8cad7136d1faee62",
        "name": "Get",
        "func": "msg.topic = \"SELECT * FROM Sensores ORDER BY fecha ASC;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 900,
        "wires": [
            [
                "b1f0d85f827afafd"
            ]
        ]
    },
    {
        "id": "b1f0d85f827afafd",
        "type": "json",
        "z": "8cad7136d1faee62",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1150,
        "y": 900,
        "wires": [
            [
                "044219220215be3c"
            ]
        ]
    },
    {
        "id": "044219220215be3c",
        "type": "mysql",
        "z": "8cad7136d1faee62",
        "mydb": "4ff82e02728915f1",
        "name": "DB-Cultivo",
        "x": 1310,
        "y": 900,
        "wires": [
            [
                "9f5f83725a188a19"
            ]
        ]
    },
    {
        "id": "9f5f83725a188a19",
        "type": "function",
        "z": "8cad7136d1faee62",
        "name": "Extraer msg",
        "func": "var dataTemperatura = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.temperatura };\n});\n\nvar dataHumedad = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.humedad };\n});\n\nvar dataHumedadTierra = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.humedadTierra };\n});\n\nvar dataDia = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.dia };\n});\n\nvar dataConsumoAgua = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.consumoAgua };\n});\n\nmsg.payload = [\n    {\n        \"series\": [\"Temperatura\", \"Humedad\", \"Humedad Tierra\", \"Día\", \"Consumo Agua\"],\n        \"data\": [dataTemperatura, dataHumedad, dataHumedadTierra, dataDia, dataConsumoAgua],\n        \"labels\": [\"\", \"\", \"\", \"\", \"\"]\n    }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 900,
        "wires": [
            [
                "abe6e515a5b526d4"
            ]
        ]
    },
    {
        "id": "abe6e515a5b526d4",
        "type": "ui_chart",
        "z": "8cad7136d1faee62",
        "name": "",
        "group": "0c9239e3ca8fec5c",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1640,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "d3b61bd6442b99bb",
        "type": "inject",
        "z": "8cad7136d1faee62",
        "name": "Get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM Sensores ORDER BY fecha ASC;",
        "payload": "",
        "payloadType": "date",
        "x": 1110,
        "y": 460,
        "wires": [
            [
                "bce9777edf343f5e"
            ]
        ]
    },
    {
        "id": "0d281e7e864bbef2",
        "type": "inject",
        "z": "8cad7136d1faee62",
        "name": "Get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM Sensores ORDER BY fecha ASC;",
        "payload": "",
        "payloadType": "date",
        "x": 1030,
        "y": 840,
        "wires": [
            [
                "b1f0d85f827afafd"
            ]
        ]
    },
    {
        "id": "274b712b938983cb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.41.53.144",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "66d61864ba15f097",
        "type": "MySQLdatabase",
        "name": "Database Desertico",
        "host": "localhost",
        "port": "3306",
        "db": "desertico",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "065f4ea835f587e1",
        "type": "MySQLdatabase",
        "name": "Habitacional",
        "host": "localhost",
        "port": "3306",
        "db": "plantashogar",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "4ff82e02728915f1",
        "type": "MySQLdatabase",
        "name": "Base de Datos de Cultivo",
        "host": "localhost",
        "port": "3306",
        "db": "cultivo",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "5acf24717bc28b1e",
        "type": "ui_group",
        "name": "Desertico",
        "tab": "d81f9fd67f93ae42",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab83424e67e689b1",
        "type": "ui_group",
        "name": "Habitacional",
        "tab": "d81f9fd67f93ae42",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c9239e3ca8fec5c",
        "type": "ui_group",
        "name": "Cultivo",
        "tab": "d81f9fd67f93ae42",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d81f9fd67f93ae42",
        "type": "ui_tab",
        "name": "Room",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]