Dashboard.json
[
    {
        "id": "e4d9558ed2fd3436",
        "type": "tab",
        "label": "DashboardWJSON",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d74871b9afb9620",
        "type": "mqtt in",
        "z": "e4d9558ed2fd3436",
        "name": "Ecosistema Desertico",
        "topic": "room/desertico",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "274b712b938983cb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "129a86771a6d32de"
            ]
        ]
    },
    {
        "id": "350ee41b8935846c",
        "type": "function",
        "z": "e4d9558ed2fd3436",
        "name": "Mandar a Base de Datos - Desertico",
        "func": "msg.topic = \"INSERT INTO sensores(temperatura, humedad, humedadTierra, dia) \" +\n  \"VALUES ('\" + msg.payload.Temperatura + \"', '\" + msg.payload.Humedad + \"', '\" +\n  msg.payload.HumedadTierra + \"', '\" + msg.payload.Dia + \"');\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "48412efa567486aa"
            ]
        ]
    },
    {
        "id": "129a86771a6d32de",
        "type": "json",
        "z": "e4d9558ed2fd3436",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "350ee41b8935846c",
                "bfb718ef29bfd6f1",
                "e9b68edaa77e001a",
                "6b78dd4b1fbcf85a",
                "5a9df964b1cbc37a"
            ]
        ]
    },
    {
        "id": "73458eb6a6c1c736",
        "type": "debug",
        "z": "e4d9558ed2fd3436",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 60,
        "wires": []
    },
    {
        "id": "8b84f41813c5ddd6",
        "type": "mqtt in",
        "z": "e4d9558ed2fd3436",
        "name": "Ecosistema Habitacional",
        "topic": "room/habitacional",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "274b712b938983cb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "77139efc6ff32d81"
            ]
        ]
    },
    {
        "id": "a2a8f16acf138616",
        "type": "function",
        "z": "e4d9558ed2fd3436",
        "name": "Mandar a Base de Datos - Habitacional ",
        "func": "msg.topic = \"INSERT INTO sensores(temperatura, humedad, humedadTierra, dia) \" +\n  \"VALUES ('\" + msg.payload.Temperatura + \"', '\" + msg.payload.Humedad + \"', '\" +\n  msg.payload.HumedadTierra + \"', '\" + msg.payload.Dia + \"');\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "0fc66ac1d9a46365"
            ]
        ]
    },
    {
        "id": "c5176584667bba75",
        "type": "debug",
        "z": "e4d9558ed2fd3436",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "d4e7c544c78ddd0b",
        "type": "mqtt in",
        "z": "e4d9558ed2fd3436",
        "name": "Ecosistema Cultivo",
        "topic": "room/cultivo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "274b712b938983cb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 900,
        "wires": [
            [
                "899ef46d142f977d"
            ]
        ]
    },
    {
        "id": "42903e8294c1caa4",
        "type": "function",
        "z": "e4d9558ed2fd3436",
        "name": "Mandar a Base de Datos - Cultivo",
        "func": "msg.topic = \"INSERT INTO sensores(temperatura, humedad, humedadTierra, dia) \" +\n  \"VALUES ('\" + msg.payload.Temperatura + \"', '\" + msg.payload.Humedad + \"', '\" +\n  msg.payload.HumedadTierra + \"', '\" + msg.payload.Dia + \"');\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 900,
        "wires": [
            [
                "f180cace10421a91"
            ]
        ]
    },
    {
        "id": "899ef46d142f977d",
        "type": "json",
        "z": "e4d9558ed2fd3436",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 900,
        "wires": [
            [
                "42903e8294c1caa4",
                "e0cbc6ccc5dbb66f",
                "39e4f534583df91c",
                "da5de61493181e75",
                "f463d0625df45c1e"
            ]
        ]
    },
    {
        "id": "8691d580db331318",
        "type": "debug",
        "z": "e4d9558ed2fd3436",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 840,
        "wires": []
    },
    {
        "id": "77139efc6ff32d81",
        "type": "json",
        "z": "e4d9558ed2fd3436",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "63f39ac649d80db4",
                "702da34649183bf1",
                "cae0e92dd9bddc66",
                "49eb5fce629d825b",
                "a2a8f16acf138616"
            ]
        ]
    },
    {
        "id": "48412efa567486aa",
        "type": "mysql",
        "z": "e4d9558ed2fd3436",
        "mydb": "4d1a8fae4701c6f0",
        "name": "DB-Desertico",
        "x": 950,
        "y": 180,
        "wires": [
            [
                "73458eb6a6c1c736",
                "589837d0c061f97e"
            ]
        ]
    },
    {
        "id": "0fc66ac1d9a46365",
        "type": "mysql",
        "z": "e4d9558ed2fd3436",
        "mydb": "6f98a30dfde6cebd",
        "name": "DB-Habitacional",
        "x": 920,
        "y": 540,
        "wires": [
            [
                "c5176584667bba75",
                "d45669dbfc2c6a63"
            ]
        ]
    },
    {
        "id": "f180cace10421a91",
        "type": "mysql",
        "z": "e4d9558ed2fd3436",
        "mydb": "a346989fb1ba06de",
        "name": "DB-Cultivo",
        "x": 850,
        "y": 900,
        "wires": [
            [
                "8691d580db331318",
                "7562e4958e6722dc"
            ]
        ]
    },
    {
        "id": "5a9df964b1cbc37a",
        "type": "ui_text",
        "z": "e4d9558ed2fd3436",
        "group": "5acf24717bc28b1e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Dia",
        "label": "Día",
        "format": "{{msg.payload.Dia}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "49eb5fce629d825b",
        "type": "ui_text",
        "z": "e4d9558ed2fd3436",
        "group": "ab83424e67e689b1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Dia",
        "label": "Día",
        "format": "{{msg.payload.Dia}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 820,
        "wires": []
    },
    {
        "id": "f463d0625df45c1e",
        "type": "ui_text",
        "z": "e4d9558ed2fd3436",
        "group": "0c9239e3ca8fec5c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Dia",
        "label": "Día",
        "format": "{{msg.payload.Dia}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 1180,
        "wires": []
    },
    {
        "id": "e9b68edaa77e001a",
        "type": "ui_gauge",
        "z": "e4d9558ed2fd3436",
        "name": "Humedad",
        "group": "5acf24717bc28b1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{msg.payload.Humedad}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "6b78dd4b1fbcf85a",
        "type": "ui_gauge",
        "z": "e4d9558ed2fd3436",
        "name": "Humedad De La Tierra",
        "group": "5acf24717bc28b1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad De La Tierra",
        "label": "%",
        "format": "{{msg.payload.HumedadTierra}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "bfb718ef29bfd6f1",
        "type": "ui_gauge",
        "z": "e4d9558ed2fd3436",
        "name": "",
        "group": "5acf24717bc28b1e",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{msg.payload.Temperatura}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "702da34649183bf1",
        "type": "ui_gauge",
        "z": "e4d9558ed2fd3436",
        "name": "Humedad",
        "group": "ab83424e67e689b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{msg.payload.Humedad}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 700,
        "wires": []
    },
    {
        "id": "cae0e92dd9bddc66",
        "type": "ui_gauge",
        "z": "e4d9558ed2fd3436",
        "name": "Humedad De La Tierra",
        "group": "ab83424e67e689b1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad De La Tierra",
        "label": "%",
        "format": "{{msg.payload.HumedadTierra}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 760,
        "wires": []
    },
    {
        "id": "63f39ac649d80db4",
        "type": "ui_gauge",
        "z": "e4d9558ed2fd3436",
        "name": "",
        "group": "ab83424e67e689b1",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{msg.payload.Temperatura}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 640,
        "wires": []
    },
    {
        "id": "39e4f534583df91c",
        "type": "ui_gauge",
        "z": "e4d9558ed2fd3436",
        "name": "Humedad",
        "group": "0c9239e3ca8fec5c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{msg.payload.Humedad}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 1060,
        "wires": []
    },
    {
        "id": "da5de61493181e75",
        "type": "ui_gauge",
        "z": "e4d9558ed2fd3436",
        "name": "Humedad De La Tierra",
        "group": "0c9239e3ca8fec5c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad De La Tierra",
        "label": "%",
        "format": "{{msg.payload.HumedadTierra}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e0cbc6ccc5dbb66f",
        "type": "ui_gauge",
        "z": "e4d9558ed2fd3436",
        "name": "",
        "group": "0c9239e3ca8fec5c",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{msg.payload.Temperatura}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 1000,
        "wires": []
    },
    {
        "id": "9a600be80958de57",
        "type": "ui_template",
        "z": "e4d9558ed2fd3436",
        "group": "5acf24717bc28b1e",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n/* Base styling for ui-card-panel */\nui-card-panel {\nbox-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;\nbackground-color: black;\nfont-weight: bold;\n}\n\n/* Round corners for all children elements of ui-card-panel */\nui-card-panel * {\nborder-radius: 10px; /* Adjust the value to control the roundness of the corners */\ncolor: black; \nfont-weight: bold;\n}\n\n/* Styling for the body */\nbody {\nbackground: transparent !important;\nbackground: -webkit-linear-gradient(55deg, #009785 0%, #245aa5 100%) !important;\n-webkit-touch-callout: none !important;\ncolor: white !important;\npadding-top: 5px !important;\n}\n\n/* Styling for ui-card-panel */\nui-card-panel {\nbackground-color: rgba(250, 250, 250, 0.7) !important;\nborder: none !important;\nborder-radius: 10px !important;\n}\n\n/* Styling for md-card within ui-card-panel */\nui-card-panel > div.nr-dashboard-cardpanel > div > md-card {\nbackground: none !important;\n}\n\n/* Styling for buttons within ui-card-panel */\nui-card-panel > div.nr-dashboard-cardpanel button {\n/* background: none !important; Uncomment if needed */\n}\n\n/* Styling for md-toolbar */\nmd-toolbar {\nbackground: none !important;\n}\n\n/* Styling for md-sidenav */\nmd-sidenav {\nbackground: linear-gradient(120deg, rgba(40, 42, 49, 0.90) 20%, rgba(47, 49, 56, 0.90) 80%) !important;\n}\n\n/* Styling for md-card with class nr-dashboard-button */\nmd-card.nr-dashboard-button * {\nbox-shadow: none !important;\n}\n\n/* Styling for md-card with class nr-dashboard-template */\nmd-card.nr-dashboard-template * {\nbackground: none !important;\n}\n\n#nr-dashboard-cardtitle { \n    color: black !important;\n}\n\n.nr-dashboard-cardtitle { \n    color: black !important; \n    font-weight: bold !important;\n    font-size: 3vh !important; \n}\n\np { \n    color: black !important; \n\n}\n    </style>\n    <title> Francismo </title>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 280,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "589837d0c061f97e",
        "type": "function",
        "z": "e4d9558ed2fd3436",
        "name": "Get",
        "func": "msg.topic = \"SELECT * FROM Sensores ORDER BY fecha ASC;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 180,
        "wires": [
            [
                "81896509776b5bc2"
            ]
        ]
    },
    {
        "id": "9bb2a765f6c849bb",
        "type": "ui_chart",
        "z": "e4d9558ed2fd3436",
        "name": "",
        "group": "5acf24717bc28b1e",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1780,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "81896509776b5bc2",
        "type": "json",
        "z": "e4d9558ed2fd3436",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1290,
        "y": 180,
        "wires": [
            [
                "0ad95fccc6db948d"
            ]
        ]
    },
    {
        "id": "0ad95fccc6db948d",
        "type": "mysql",
        "z": "e4d9558ed2fd3436",
        "mydb": "4d1a8fae4701c6f0",
        "name": "DB-Desertico",
        "x": 1450,
        "y": 180,
        "wires": [
            [
                "b26b1c33551d98b6"
            ]
        ]
    },
    {
        "id": "b26b1c33551d98b6",
        "type": "function",
        "z": "e4d9558ed2fd3436",
        "name": "Extraer msg",
        "func": "var dataTemperatura = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.temperatura };\n});\n\nvar dataHumedad = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.humedad };\n});\n\nvar dataHumedadTierra = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.humedadTierra };\n});\n\nvar dataDia = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.dia };\n});\n\nvar dataConsumoAgua = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.consumoAgua };\n});\n\nmsg.payload = [\n    {\n        \"series\": [\"Temperatura\", \"Humedad\", \"Humedad Tierra\", \"Día\", \"Consumo Agua\"],\n        \"data\": [dataTemperatura, dataHumedad, dataHumedadTierra, dataDia, dataConsumoAgua],\n        \"labels\": [\"\", \"\", \"\", \"\", \"\"]\n    }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 180,
        "wires": [
            [
                "9bb2a765f6c849bb"
            ]
        ]
    },
    {
        "id": "7f87035e26c36265",
        "type": "inject",
        "z": "e4d9558ed2fd3436",
        "name": "Get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM Sensores ORDER BY fecha ASC;",
        "payload": "",
        "payloadType": "date",
        "x": 1110,
        "y": 60,
        "wires": [
            [
                "81896509776b5bc2"
            ]
        ]
    },
    {
        "id": "d45669dbfc2c6a63",
        "type": "function",
        "z": "e4d9558ed2fd3436",
        "name": "Get",
        "func": "msg.topic = \"SELECT * FROM Sensores ORDER BY fecha ASC;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 540,
        "wires": [
            [
                "75159b4d685b0376"
            ]
        ]
    },
    {
        "id": "75159b4d685b0376",
        "type": "json",
        "z": "e4d9558ed2fd3436",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1250,
        "y": 540,
        "wires": [
            [
                "a4efe1c9e4baf6e1"
            ]
        ]
    },
    {
        "id": "a4efe1c9e4baf6e1",
        "type": "mysql",
        "z": "e4d9558ed2fd3436",
        "mydb": "6f98a30dfde6cebd",
        "name": "DB-Habitacional",
        "x": 1420,
        "y": 540,
        "wires": [
            [
                "b9ad3d6f9ec3c205"
            ]
        ]
    },
    {
        "id": "b9ad3d6f9ec3c205",
        "type": "function",
        "z": "e4d9558ed2fd3436",
        "name": "Extraer msg",
        "func": "var dataTemperatura = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.temperatura };\n});\n\nvar dataHumedad = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.humedad };\n});\n\nvar dataHumedadTierra = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.humedadTierra };\n});\n\nvar dataDia = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.dia };\n});\n\nvar dataConsumoAgua = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.consumoAgua };\n});\n\nmsg.payload = [\n    {\n        \"series\": [\"Temperatura\", \"Humedad\", \"Humedad Tierra\", \"Día\", \"Consumo Agua\"],\n        \"data\": [dataTemperatura, dataHumedad, dataHumedadTierra, dataDia, dataConsumoAgua],\n        \"labels\": [\"\", \"\", \"\", \"\", \"\"]\n    }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1610,
        "y": 540,
        "wires": [
            [
                "4a91e37570909d30"
            ]
        ]
    },
    {
        "id": "4a91e37570909d30",
        "type": "ui_chart",
        "z": "e4d9558ed2fd3436",
        "name": "",
        "group": "ab83424e67e689b1",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1760,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "7562e4958e6722dc",
        "type": "function",
        "z": "e4d9558ed2fd3436",
        "name": "Get",
        "func": "msg.topic = \"SELECT * FROM Sensores ORDER BY fecha ASC;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 900,
        "wires": [
            [
                "02c035e9878c282e"
            ]
        ]
    },
    {
        "id": "02c035e9878c282e",
        "type": "json",
        "z": "e4d9558ed2fd3436",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1150,
        "y": 900,
        "wires": [
            [
                "a6105078f6135dd0"
            ]
        ]
    },
    {
        "id": "a6105078f6135dd0",
        "type": "mysql",
        "z": "e4d9558ed2fd3436",
        "mydb": "a346989fb1ba06de",
        "name": "DB-Cultivo",
        "x": 1310,
        "y": 900,
        "wires": [
            [
                "1ad26a45a95c2a17"
            ]
        ]
    },
    {
        "id": "1ad26a45a95c2a17",
        "type": "function",
        "z": "e4d9558ed2fd3436",
        "name": "Extraer msg",
        "func": "var dataTemperatura = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.temperatura };\n});\n\nvar dataHumedad = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.humedad };\n});\n\nvar dataHumedadTierra = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.humedadTierra };\n});\n\nvar dataDia = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.dia };\n});\n\nvar dataConsumoAgua = msg.payload.map(function(row) {\n    return { \"x\": row.fecha, \"y\": row.consumoAgua };\n});\n\nmsg.payload = [\n    {\n        \"series\": [\"Temperatura\", \"Humedad\", \"Humedad Tierra\", \"Día\", \"Consumo Agua\"],\n        \"data\": [dataTemperatura, dataHumedad, dataHumedadTierra, dataDia, dataConsumoAgua],\n        \"labels\": [\"\", \"\", \"\", \"\", \"\"]\n    }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 900,
        "wires": [
            [
                "03fa0e6d6b11b326"
            ]
        ]
    },
    {
        "id": "03fa0e6d6b11b326",
        "type": "ui_chart",
        "z": "e4d9558ed2fd3436",
        "name": "",
        "group": "0c9239e3ca8fec5c",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Record",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1640,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "895f0b1ff29caca5",
        "type": "inject",
        "z": "e4d9558ed2fd3436",
        "name": "Get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM Sensores ORDER BY fecha ASC;",
        "payload": "",
        "payloadType": "date",
        "x": 1110,
        "y": 460,
        "wires": [
            [
                "75159b4d685b0376"
            ]
        ]
    },
    {
        "id": "91ad994b618af0f1",
        "type": "inject",
        "z": "e4d9558ed2fd3436",
        "name": "Get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM Sensores ORDER BY fecha ASC;",
        "payload": "",
        "payloadType": "date",
        "x": 1030,
        "y": 840,
        "wires": [
            [
                "02c035e9878c282e"
            ]
        ]
    },
    {
        "id": "274b712b938983cb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.41.53.144",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4d1a8fae4701c6f0",
        "type": "MySQLdatabase",
        "name": "Database Desertico",
        "host": "localhost",
        "port": "3306",
        "db": "desertico",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "6f98a30dfde6cebd",
        "type": "MySQLdatabase",
        "name": "Habitacional",
        "host": "localhost",
        "port": "3306",
        "db": "plantashogar",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "a346989fb1ba06de",
        "type": "MySQLdatabase",
        "name": "Base de Datos de Cultivo",
        "host": "localhost",
        "port": "3306",
        "db": "cultivo",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "5acf24717bc28b1e",
        "type": "ui_group",
        "name": "Desertico",
        "tab": "d81f9fd67f93ae42",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab83424e67e689b1",
        "type": "ui_group",
        "name": "Habitacional",
        "tab": "d81f9fd67f93ae42",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c9239e3ca8fec5c",
        "type": "ui_group",
        "name": "Cultivo",
        "tab": "d81f9fd67f93ae42",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d81f9fd67f93ae42",
        "type": "ui_tab",
        "name": "Room",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]