DashboardWJSON.json
[
    {
        "id": "8374553c656dc7fc",
        "type": "tab",
        "label": "DashboardWJSON",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6bf9324142f562bc",
        "type": "mqtt in",
        "z": "8374553c656dc7fc",
        "name": "Ecosistema Desertico",
        "topic": "room/desertico",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "274b712b938983cb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "8becb96e36cb5ecf"
            ]
        ]
    },
    {
        "id": "6b360f65b2d8ff65",
        "type": "function",
        "z": "8374553c656dc7fc",
        "name": "Send to DB",
        "func": "var query = \"INSERT INTO sensores(temperatura, humedad, huemdadtierra, dia)\" + \n            \"VALUES ('\";\n\nquery = query + msg.payload.TEMPERATURA + \"','\";\nquery = query + msg.payload.HUMEDAD + \"','\";\nquery = query + msg.payload.HUMEDADTIERRA + \"','\";\nquery = query + msg.payload.DIA + \"');\";\n\nmsg.topic=query;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 180,
        "wires": [
            [
                "add78c25ef95f871"
            ]
        ]
    },
    {
        "id": "8becb96e36cb5ecf",
        "type": "json",
        "z": "8374553c656dc7fc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "6b360f65b2d8ff65",
                "4f5ddd60868148ce",
                "061c7dd269bafa11",
                "3dc704d3628743df",
                "09c01de7de83698e"
            ]
        ]
    },
    {
        "id": "add78c25ef95f871",
        "type": "mysql",
        "z": "8374553c656dc7fc",
        "mydb": "415b6a60cbe7e4ee",
        "name": "DB-Desertico",
        "x": 680,
        "y": 180,
        "wires": [
            [
                "fea63d5932cb188a"
            ]
        ]
    },
    {
        "id": "fea63d5932cb188a",
        "type": "debug",
        "z": "8374553c656dc7fc",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "061c7dd269bafa11",
        "type": "ui_gauge",
        "z": "8374553c656dc7fc",
        "name": "Humedad",
        "group": "5acf24717bc28b1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{msg.payload.Humedad}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "15efe39ab03ab8ba",
        "type": "ui_chart",
        "z": "8374553c656dc7fc",
        "name": "Temperature",
        "group": "5acf24717bc28b1e",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3dc704d3628743df",
        "type": "ui_gauge",
        "z": "8374553c656dc7fc",
        "name": "Humedad De La Tierra",
        "group": "5acf24717bc28b1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad De La Tierra",
        "label": "%",
        "format": "{{msg.payload.HumedadTierra}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "09c01de7de83698e",
        "type": "ui_text",
        "z": "8374553c656dc7fc",
        "group": "5acf24717bc28b1e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Dia",
        "label": "Día",
        "format": "{{msg.payload.Dia}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "4f5ddd60868148ce",
        "type": "ui_gauge",
        "z": "8374553c656dc7fc",
        "name": "",
        "group": "5acf24717bc28b1e",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tempertura",
        "label": "°C",
        "format": "{{msg.payload.Temperatura}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "274b712b938983cb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.41.49.243",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "415b6a60cbe7e4ee",
        "type": "MySQLdatabase",
        "name": "Database Desertico",
        "host": "localhost",
        "port": "3306",
        "db": "desertico",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "5acf24717bc28b1e",
        "type": "ui_group",
        "name": "Desertico",
        "tab": "d81f9fd67f93ae42",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d81f9fd67f93ae42",
        "type": "ui_tab",
        "name": "Room",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]